$salmonColor: #ff6f61;
$beigeColor: #ffcccb;
$blackColor: #1e1212;
$yellowColor: #f6edb9;
$turquoiseColor: #b9f6ed;
$turquoiseSecondaryColor: #369788;
$turquoiseTertiaryColor: #297368;
$whiteColor: #f3f7f7;

$maxWidth: 400px;
$maxWidth768px: 550px;
$maxWidth1200px: 1400px;
$maxWidth2560px: 700px;
$maxWidth3840px: 900px;
$buttonPadding: 10px 20px;
$buttonPadding768px: 20px 40px;
$buttonPadding2560px: 50px 100px;
$borderRadius: 15px;
$fontSize2560px: 1.8rem;
$fontSize3840px: 2.5rem;

@mixin graphicBox {
    border-radius: $borderRadius;
    padding: $buttonPadding;
    border: 2px solid $blackColor;
    -webkit-box-shadow: 4px 2px 4px 0px rgba(30, 18, 18, 1);
    -moz-box-shadow: 4px 2px 4px 0px rgba(30, 18, 18, 1);
    box-shadow: 4px 2px 4px 0px rgba(30, 18, 18, 1);
    text-align: center;

    @media (min-width: 768px) {
        padding: $buttonPadding768px;
        max-width: $maxWidth;
    }

    @media (min-width: 2560px) {
        padding: $buttonPadding2560px;
        max-width: $maxWidth2560px;
    }

    @media (min-width: 3840px) {
        max-width: $maxWidth3840px;
    }
}

@font-face {
    font-family: 'notosansmono-bold';
    src: url('/fonts/NotoSansMono/NotoSansMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'notosansmono';
    src: url('/fonts/NotoSansMono/NotoSansMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background: linear-gradient(90deg, $salmonColor, $beigeColor);
    overflow-x: hidden;
    color: $blackColor;
    font-family: 'notosansmono';
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

h2 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: $blackColor;
}

ul {
    list-style: none;
}

@media screen and (min-width: 2560px) {
    body, h1, h2 {
        font-size: $fontSize2560px;
    }
}


@media screen and (min-width: 3840px) {
    body, h1, h2 {
        font-size: $fontSize3840px;
    }
}