@import "./global.scss";

.main {
    max-width: 400px;
    width: 100%;
    margin: 1rem auto;
    padding: 1em;

    .currentDate {
        background-color: $yellowColor;
        @include graphicBoxHeader;
        @include graphicBox();
    }

    .list {
        width: 100%;
        text-align: left;

        h2 {
            background-color: $yellowColor;
            @include graphicBoxHeader;
            @include graphicBox;
        }

        ul {
            text-align: left;
            background-color: $pinkColor;
            @include graphicBoxContent;
            @include graphicBox;

            li a {
                transition: .6s;
                cursor: pointer;
            }

            li a:hover {
                color: $graySecondaryColor;
            }
        }
    }

    .currentChallenge {
        font-family: 'notosansmono-bold';
        background-color: $turquoiseColor;
        @include graphicBoxContent;
        @include graphicBox();

        .challengeContainer {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .ctaLink {
                color: $whiteColor;
                box-shadow: none;
                background-color: $turquoiseSecondaryColor;
                border-radius: $borderRadius;
                border: $border;
                width: 90%;
                max-width: 400px;
                margin: 0 auto;
                @include graphicBox();
            }
        }
    }

    .challengeTitle {
        background-color: $blueColor;
        width: 100%;
        border-radius: $borderRadius;
        border: $border;
        @include graphicBox();

        h2 {
            font-family: 'notosansmono-bold';
        }
    }

    .challengeDesc {
        background-color: $greenColor;
        margin: 1rem 0;
        width: 100%;
        border-radius: $borderRadius;
        border: $border;
        @include graphicBox();

        h2 {
            font-family: 'notosansmono-bold';
        }
    }
}

@media screen and (min-width: 768px) {
    .main {
        max-width: 500px;
        margin: 2rem auto;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        margin: 2rem auto 4rem auto;
        max-width: 600px;

        .currentChallenge {
            .ctaLink {
                transition: .6s;
            }

            .ctaLink:hover {
                background-color: $turquoiseTertiaryColor;
            }
        }

        .challengeTitle,
        .challengeDesc {
            width: 100%;
            margin: 1rem auto;
        }
    }
}

@media screen and (min-width: 2560px) {
    .main {
        max-width: 900px;

        .box {
            margin-bottom: 2em;
        }

        .challengeDesc {
            margin: 2rem 0;
        }
    }
}

@media screen and (min-width: 3840px) {
    .main {
        max-width: 1200px;

        .ctaLink {
            padding: 20px 40px !important;
        }

        .currentDate {
            margin-top: 5rem;
        }
    }
}