@import "./global.scss";

.main {
    max-width: $maxWidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 1em;


    .currentDate {
        background-color: $yellowColor;
        @include graphicBox()
    }

    .currentChallenge {
        font-family: 'notosansmono-bold';
        background-color: $turquoiseColor;
        gap: 1.5rem;
        flex-direction: column;
        margin: 1rem 0;
        display: flex;
        @include graphicBox();

        .ctaLink {
            color: $whiteColor;
            box-shadow: none;
            background-color: $turquoiseSecondaryColor;
            @include graphicBox();
        }
    }

    .challengeTitle {
        background-color: $pinkColor;
        @include graphicBox();

        h2 {
            font-family: 'notosansmono-bold';
        }
    }

    .challengeDesc {
        background-color: $greenColor;
        margin: 1rem 0;
        @include graphicBox();

        h2 {
            font-family: 'notosansmono-bold';
        }
    }

    .FAQ {
        margin-top: 3rem;

        h2 {
            margin-bottom: 1rem;
            font-family: "notosansmono-bold";
        }

        ul li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .main {
        max-width: $maxWidth768px;
        margin: 2rem auto;

        .FAQ ul li {
            margin-bottom: 1.5rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .main {
        max-width: $maxWidth1200px;
        margin: 2rem auto 4rem auto;

        .currentChallenge {
            .ctaLink {
                transition: .6s;
            }

            .ctaLink:hover {
                background-color: $turquoiseTertiaryColor;
            }
        }

        .FAQ ul li {
            gap: 1em;
        }
    }
}

@media screen and (min-width: 2560px) {
    .main {
        .currentChallenge {
            margin: 2rem 0;
        }

        .FAQ {
            h2 {
                margin-bottom: 2rem;
            }

            ul li {
                gap: .7em;

                img {
                    width: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 3840px) {
    .main .FAQ {
        h2 {
            margin-bottom: 2em;
        }

        ul li {
            margin-bottom: 3rem;

            img {
                width: 45px;
            }
        }
    }
}