---
import "../styles/index.scss";
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
import { challenges } from "../data/challenges";
---

<Layout title="All challenges">
	<Navigation pageName="All challenges" />
	<main class="main">
		<section class="list">
			<h2>Here is the list of all challenges:</h2>
			<ul>
				{challenges.map((challenge) => <li>{challenge.title.toLowerCase()}</li>)}
			</ul>
		</section>
	</main>
</Layout>
