---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

const currentDate = new Date().toLocaleDateString();

export const challenges = [
	{
		id: 1,
		title: "no sugar",
		slug: "no-sugar",
		description:
			"Give up sugar for a month and enjoy the benefits of a healthier lifestyle",
	},
];
---

<Layout title="Monthly Modifiers">
	<Navigation pageName="home" />
	<main class="homeMain">
		<section class="challengeSection">
			<h2>Current Date: {currentDate}</h2>
			<h3>Monthly Challenge:</h3>
			<a href={`/challenges/${challenges[0].slug}`} class="ctaLink"
				>{challenges[0].title}</a
			>
		</section>
		<section class="faqSection">
			<h3>FAQ</h3>
			<p>This site provides a monthly challenge to motivate you to improve!</p>
		</section>
	</main>
</Layout>
