---
import "../styles/index.scss";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Accordion from "../components/Accordion.astro";
import Loader from "../components/Loader.astro";

const currentMonth = new Date().toLocaleString("default", { month: "long" });
---

<Layout title="Monthly Modifiers">
	<Navigation pageName="home" />
	<main class="main">
		<section class="box">
			<div class="currentDate">
				<h2>Current month: {currentMonth}</h2>
			</div>
			<div class="currentChallenge">
				<h2>Current challenges:</h2>
				<div id="loading">
					<Loader />
				</div>
				<div id="challengesContainer" class="challengeContainer"></div>
			</div>
		</section>
		<section class="FAQ">
			<Accordion homepage={true} />
		</section>
	</main>
</Layout>

<script src="../scripts/createChallenges.js"></script>
