---
import "../styles/index.scss";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Loader from "../components/Loader.astro";

const currentMonth = new Date().toLocaleString("default", { month: "long" });
const boltIcon = "/icons/bolt.svg";
---

<Layout title="Monthly Modifiers">
	<Navigation pageName="home" />
	<main class="main">
		<section class="currentDate">
			<h2>Current month: {currentMonth}</h2>
		</section>
		<section class="currentChallenge">
			<h2>Current challenges:</h2>
			<div id="loading">
				<Loader />
			</div>
			<div id="challengesContainer" class="challengeContainer"></div>
		</section>
		<section class="FAQ">
			<h2>FAQ</h2>
			<ul>
				<li>
					<img src={boltIcon} height="auto" width="20" alt="bolt icon" />
					This site provides challenges to motivate you to improve yourself
				</li>
				<li>
					<img src={boltIcon} height="auto" width="20" alt="bolt icon" />
					Every month we draw a challenge using the NIST Randomness Beacons
				</li>
				<li>
					<img src={boltIcon} height="auto" width="20" alt="bolt icon" />
					Show off your current challenge on your socials
				</li>
			</ul>
		</section>
	</main>
</Layout>

<script src="../scripts/createChallenges.js"></script>
