---
import "./accordion.scss";

interface Props {
	homepage: boolean
}

const { homepage } = Astro.props;
---

<section class="accordion">
	{homepage ? (
<button class="header">
		<h2>FAQ</h2>
		<span class="icon">+</span>
	</button>
	<div class="content">
		<div class="item">
			<i>ϟ</i>
			<p>This site provides challenges to motivate you to improve yourself</p>
		</div>
		<div class="item">
			<i>ϟ</i>
			<p>Every month we draw a challenge using the NIST Randomness Beacon</p>
			</div>
		<div class="item">
			<i>ϟ</i>
			<p>Show off your current challenge on your socials</p>
		</div>
	</div>
	) : (
		<button>dsgf</button>
	)}

</section>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const accordion = document.querySelector(".accordion");

		const header = accordion?.querySelector(".header");
		header?.addEventListener("click", () => {
			accordion?.classList.toggle("active");
		});
	});
</script>
