@import "../styles/global.scss";

.accordion {
    margin-bottom: 1em;
    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $pinkColor;
        cursor: pointer;
        transition: background-color 0.3s ease;
        @include graphicBoxHeader;
        @include graphicBox;

        h2 {
            margin-bottom: 0;
            font-family: "notosansmono";
        }

        .icon {
            font-size: 24px;
            transition: transform 0.3s ease;
        }
    }

    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        background-color: $pinkSecondaryColor;
        padding: 0 !important;
        @include graphicBoxContent;
        @include graphicBox;

        .item {
            display: flex;
            align-items: flex-start;
            padding: 1em;
            gap: 1em;
        }

        p {
            text-align: left;
            margin: 0;
        }
    }

    &.active {
        .header .icon {
            transform: rotate(45deg);
        }

        .content {
            max-height: 1000px;
        }
    }
}

@media screen and (min-width: 2560px) {
    .accordion {
        .header {
            .icon {
                font-size: 3.5rem;
            }
        }
    }
}