@import "../styles/global.scss";

.accordion {
    border: 1px solid #ddd;
    margin-bottom: 10px;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px;
        background-color: #f4f4f4;
        border: none;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #e4e4e4;
        }

        .icon {
            font-size: 24px;
            transition: transform 0.3s ease;
        }
    }

    &-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;

        p {
            padding: 15px;
            margin: 0;
        }
    }

    &.active {
        .accordion-header .icon {
            transform: rotate(45deg);
        }

        .accordion-content {
            max-height: 1000px; // Adjust this value based on your content
        }
    }
}