@import "../styles/global.scss";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: $maxWidth;
    margin: 0 auto;

    .siteTitle {
        font-size: 1rem;
        font-weight: bold;
        max-width: 50px;
    }

    .backLink {
        text-decoration: none;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        max-width: $maxWidth768px;
    }
}

@media screen and (min-width: 1200px) {
    .nav {
        max-width: $maxWidth1200px;
    }
}