---
import "./navigation.scss";

const { pageName } = Astro.props;
---

<nav class="nav">
	<h1 class="siteTitle"><a class="home" href="/">Monthly Modifiers</a></h1>
	{
		pageName === "Current challenge" && (
			<a class="backLink" href="/">
				Home
			</a>
		)
	}
</nav>
