@import "../styles/global.scss";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;

    .siteTitle {
        font-size: 1rem;
        font-family: 'notosansmono-bold';
    }

    .links {
        display: flex;
        gap: 1em;
    }

    .link {
        text-align: end;
        text-decoration: none;
        font-size: .9rem;
        transition: .6s;
    }

    .link:hover {
        color: $graySecondaryColor;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        max-width: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .nav {
        max-width: 600px;
    }
}

@media screen and (min-width: 1920px) {
    .nav {
        padding: 50px 1em;
    }
}

@media screen and (min-width: 2560px) {
    .nav {
        max-width: 900px;

        .link {
            font-size: 1.5rem;
        }

        .siteTitle {
            font-size: $fontSize2560px;
        }
    }
}

@media screen and (min-width: 3840px) {
    .nav {
        max-width: 1200px;

        .link {
            font-size: 2rem;
        }

        .siteTitle {
            font-size: $fontSize3840px;
        }
    }
}