---
import "./navigation.scss";

const { pageName } = Astro.props;
---

<nav class="nav">
	<h1 class="siteTitle">Monthly Modifiers</h1>
	{
		pageName === "Current challenge" && (
			<a class="backLink" href="/">
				Home
			</a>
		)
	}
</nav>
