@import "../styles/global.scss";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: $maxWidth;

    .siteTitle {
        font-size: 1rem;
        font-weight: bold;
        max-width: 50px;
    }

    .backLink {
        text-decoration: none;
        font-size: 1.2rem;
    }

    @media screen and (min-width: 768px) {
        .siteTitle {
            font-size: 2.4rem;
        }
    }
}