---
import Footer from "../components/Footer.astro";
import "../styles/global.scss";

import movie from "/movies/bg.mp4";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Monthly modifiers - be better version of yourself by taking the challenge"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<video playsinline autoplay muted loop class="hero">
			<source src={movie} type="video/mp4" />
		</video>
		<slot />
		<Footer />
	</body>
</html>
